RewriteEngine on

RewriteBase /
RewriteRule ^(.+)\.php$ /wifakatlas/$1 [R,L]
RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^(.*?)/?$ /wifakatlas/$1.php [NC,END]

ErrorDocument 404 /wifakatlas/404/index.html
ErrorDocument 403 403.html